<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seller</title>
    <link rel="stylesheet" href="/css/seller.css">
  </head>
  <body>

    <!-- subham -->

    <div class="navbar">
      <div class="logo">
        <img
          src="https://cdn.freebiesupply.com/logos/large/2x/craft-60-logo-png-transparent.png"
          alt=""
        />
      </div>
      <div class="box"><%= seller.name %></div>
      <div class="user-icon">
        <img
          src="https://cdn1.iconfinder.com/data/icons/elevator/154/elevator-user-man-ui-round-login-1024.png"
          alt=""
        />
      </div>
    </div>
    <div style="display: flex; flex-direction: column; gap: 250px">
      <div>
        <div class="Live-products">
          <h1>Live Products</h1>
        </div>

        <div class="container">
          <div class="products">
            <% seller.items.forEach(item => { %>
            <h4><%= item.name %></h4>
            <h5><%= item.description %></h5>
            <h2>Rs<%= item.price %></h2>
              <img src=<%=item.image%> alt="nhi heyyy" srcset="">
            <% }); %>
          </div>
        </div>
          <!-- <div class="products">
            <img
              src="https://5.imimg.com/data5/CT/YF/MY-53407383/25-500x500.jpg"
              alt=""
            />
            <h4>Rajbati Fuldaan</h4>
            <h5>India</h5>
            <h2>Price</h2>
            <div>$400</div>
          </div>
          <div class="products">
            <img
              src="https://i.pinimg.com/originals/e4/11/bf/e411bf8e57f5ed473623fedddb21598c.png"
              alt=""
            />
            <h4>Rajbati Fuldaan</h4>
            <h5>India</h5>
            <h2>Price</h2>
            <div>$400</div>
          </div>
        </div>
      </div>
      <div>
        <div class="sold">
          <h1>Sold Products</h1>
        </div>

        <div class="container">
          <div class="products">
            <img
              src="https://th.bing.com/th/id/OIP.YFOlK0hgRNRGjZLo5CJ8IwHaHa?pid=ImgDet&w=177&h=177&c=7&dpr=1.3"
              alt=""
            />
            <h4>Rajbati Fuldaan</h4>
            <h5>India</h5>
            <h2>Price</h2>
            <div>$400</div>
          </div>
          <div class="products">
            <img
              src="https://5.imimg.com/data5/CT/YF/MY-53407383/25-500x500.jpg"
              alt=""
            />
            <h4>Rajbati Fuldaan</h4>
            <h5>India</h5>
            <h2>Price</h2>
            <div>$400</div>
          </div>
          <div class="products">
            <img
              src="https://i.pinimg.com/originals/e4/11/bf/e411bf8e57f5ed473623fedddb21598c.png"
              alt=""
            />
            <h4>Rajbati Fuldaan</h4>
            <h5>India</h5>
            <h2>Price</h2>
            <div>$400</div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="button">
        <img src="https://th.bing.com/th/id/OIP.e_TwCQZg7WCcE0iHxoyc8gHaHa?w=512&h=512&rs=1&pid=ImgDetMain" alt="">
        <h5>click here to add product</h5>
        

    </div> -->


    <div >
    <form action="/seller/<%= seller._id %>/additem" method="get">
      <button class="button">Add More</button>
    </form>
    </div>
      <div class="button" id="add-product">
        <!-- <img
          src="https://cdn4.iconfinder.com/data/icons/media-24/32/camera-512.png"
          alt=""
        /> -->
        <h5>Add product photos</h5>
      </div>
  </body>
</html>
